<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <style>
        .log {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 10rem;
            font-size: 1.5rem;
            /*background-color: gray;
            width: 100vw;
            height: 100vh;*/
        }
    </style>
</head>
<body>
    <div class="log">
        <h1>Logout Succesfully....</h1>
        <h4>Thank you for visiting our page.</h4>
        <br>
        <br>
        <img src="img.webp" alt="image" style="height: 250px; width: 250px;">
    </div>
</body>
</html>