<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="licon1.jpg">
    <script>
        const slotSchema = mongoose.Schema({
            _id: mongoose.Schema.Types.ObjectId,
            time: {type:Number, required:true, unique:true}, // starting timestamp of the slot
            booked: {type:Boolean, required:true}, // obvious !
            bookingId: {type:String} // if booked, the _id of the booking in the other DB
        });

        const Slot = mongoose.model('Slot', slotSchema);
        // superBarber wants to book from 10:30am to 11:10am
        var startTime = the timestamp for 10:30am that day;
        var endTime = the timestamp for 11:10am that day;

        // You can check availability as I showed above...
        // You insert a new booking in the Booking collection :
        var yourNewBooking = await Booking./*do your update...*/;

        // And now you can update your time slots :

        var slotsToBook = await Slot.find()
            .where('time').gte(startTime).lt(endTime)
            .exec();

        // slotsToBook = [10:30slot, 10:40slot, 10:50slot, 11:00slot]

        slotsToBook.forEach(async (slot) => {
            if (slot.booked) {
                console.log(`Damn, the slot at ${slot.time} is already booked`); 
            } else {
                await Slot.findByIdAndUpdate(
                    slot._id,
                    {$set: {
                        booked: true, 
                        bookingId: yourNewBooking._id
                    }}
                );
                console.log(`Just booked the ${slot.time} slot !`);
            }
        });
    </script>
    
</head>
<body>
    
    
</body>
</html>