<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Generation</title>
    <link rel="stylesheet" href="ticketgen.css">
    <style>
        .bgimg {
            background-image: url("https://images.unsplash.com/photo-1544620347-c4fd4a3d5957?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YnVzfGVufDB8MHwwfHw%3D&w=1000&q=80");
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="bgimg">
        <h1 class="head">Ticket Generation</h1>
        <p class="para">You are Succesfully generated ticket booking</p>
        <h4 class="head4">Have a Great Day</h4>
    </div>
</body>
</html>