/*.bgimg {
    background-image: url("https://images.unsplash.com/photo-1544620347-c4fd4a3d5957?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YnVzfGVufDB8MHwwfHw%3D&w=1000&q=80");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}*/